<% title "Edit your account" %>

<% form_for @user, :url => user_path(@user.name), :html => {:method => :put, :multipart => true} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email, "Email Address" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :bio, "Short Bio" %><br />
    <%= f.text_area :bio %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p><%= f.submit "Update" %> or <%= link_to "Cancel", root_path %></p>
  
<% end %>